:root {
  --primary-color: #008000;
  --secondary-color: #FFD700;
  --tertiary-color: #6B3FA0;
}

body {
  font-family: 'Poppins', 'Great Vibes', "sans-serif", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 1rem;
  background-image: url("../media/rsz_2image-5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-color: var(--primary-color);
}

.card-title {
  color: var(--primary-color);
}

/* General Styling */
p {
  font-size: 1.3em;
  color: var(--tertiary-color);
}

/* Card Styling */
.card {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 30px;
  /* Adjusted padding for Bootstrap card styling */
  text-align: center;
  transition: border 0.3s ease-in-out;
  margin-bottom: 5rem;
  width: 100%;
  /* Adjusted width to 100% for responsiveness */
  max-width: 500px;
  /* Set a maximum width for the card */
}

.card:hover {
  border: 3.5px solid var(--tertiary-color);
}

/* Heading Styling */
h1 {
  color: var(--primary-color);
  font-size: 2.2em;
  font-weight: bolder;
  text-align: center;
  line-height: 1.3;
}

/* Button Styling */
button {
  color: #fff;
  background-color: var(--primary-color);
  padding: 12px 20px;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
  font-size: 1.5em;
  transition: background-color 0.3s ease-in-out;
}

#downloadBtn {
  background-color: var(--primary-color);
  scale: 1.2;
}

button:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

/* Toast Styling */
.toast {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  opacity: 0.8;
  z-index: 999;
  display: inline-block;
}